@{
    ViewData["Title"] = "Posts";
}
<div class="feed-container">
    <div class="add-btn">
        <a class="page-link add-link" asp-controller="Home" asp-action="AddPost">Add Post</a>
    </div>
    <div class="posts">
        @await Component.InvokeAsync("Post", User, "friends");
    </div>
</div>
