@import "../Data/_variables";

.footer {
    border: 1px solid black;
    max-width: $main-width;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
    //---------------
    grid-column: 2;
    grid-row: 3;
}
