@import "../Data/_variables";
@import "../Data/_mixins";



.search_border_none {
    border:none;
}



.header {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    //---------------
    position: sticky;
    top: 0px;
    padding: 10px;
    width: $main-width;
    height: $header-height;
    border-bottom: 1px solid black;
    border-radius: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(106,222,231,1) 0%, rgba(255,167,248,1) 100%);
    z-index:1;
}

.header__logo {
    .logo {

        &__img {
            height: 75px;
            width: 75px;
        }
    }
}

.header__search {
    .search {
        &__box {
            height: 25px;
            border-radius: 50px 50px;
            outline: none;
            padding-left: 5px;
            @include font();
        }

        &__button {
            margin-left: 10px;
            height: 25px;
            border: none;
            border-radius: 75px 75px;
            width: 100px;
            text-align: center;
            outline: none;
            background-color: #A1A6B4;
            box-shadow: 1px 1px 10px 1px #3D52D5;
            @include font($style:bold);
            letter-spacing: .19em;
            cursor: pointer;
            color: #ffffff;

            &:hover {
                background-color: darken(#A1A6B4, 10%);
                box-shadow: 1px 1px 10px 1px darken(#3D52D5, 10%);
            }

            &:active {
                transform: scaleY(15px);
                box-shadow: 1px 1px 30px 1px darken(#3D52D5, 10%);
            }
        }
    }
}